<!DOCTYPE html>
<html ng-app="MainApp" class="ng-cloak">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>ClapprBoard | Track Your Addiction</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/font-awesome-animation.min.css">
    <link rel="stylesheet" href="/css/styles.css" charset="utf-8">
    <link rel="stylesheet" href="/css/loading-bar.css" charset="utf-8">
    <link rel="stylesheet" href="/css/angular-tooltips.min.css" charset="utf-8">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation" bs-navbar>
      <div class="navbar-header">
        <a class="navbar-brand" data-ui-sref-opts="{reload: true}" ui-sref="home">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAACdUlEQVRoQ+2a4U3DMBCFXycAJgAmoEwAGwATABvABjABMAGwAWwAE0A3gAkoE4C+KocsE8d2laRxlZOq/qgT37v37tlxOlGZsSPpQNKhpJmkW4MxKQTPZgXguAIBIIt3SfslAALEhaQjSdNI4bckzRkzdIZgAjkBqilOJD2tGhBV/7DKRhKmVwC2Fxh3V7HZK0PWyNYHSAqZkOh1Qi9TgPuA/P76qEvJuU5Ehd1G9vOHqUuTTfUjAMzJuJ4CuIG7vTifTnuIZND0dkLl3SEkCLi6Anx6ABj3L7pkiMlwqStJG5nAGP5dAaAwBjR6m1xAJgO+H6uJYpMgFfrkNDZQ0rPDAn2RHTFAMR1TPbRfS7/XA8jIj1dPRtkA/AvqAOFC+D7ffiPWTWhOhXX6RtDUyIt1o+2oA5S6mKXkYo1sfbBwoi6jSXJI5CHTqZKcaFWAbN4mpzInsvVgqUZuE2DMFGwu16loZJPQygGETIG+uXG2FSTa5F5tFrXVe8EQYN5qHI0G5jkjZMmtJtLWzQCEfELbcxY67LuYANBXw3oDO7vFoKke8JBWaK+FDTftkgeHdS0lBwO4ms8Sa4w9VRoTZ9VDVowZNq6MDUVn97F1yLY7dhgBQBZU1+E6SyKAeqmipC6sRYChMCmAigGTAqgoMDFAxYGJAYo52SB/T+mhQSYeSgpAP0VlHEl2BDR0NkeGRoZ6rsAouZ4Lnj3dyFB2yXq+YGSo54JnTzcylF2yni8YGeq54NnTrSVDnMGF/nKSXaEVXzCDIQ4UeTe0DnFuZwrrwBJ/lZkaIF458p60VOkBhpfcc//Uh7M4JFgKMPt7Jm/rF/ELw3+aTggQvVYAAAAASUVORK5CYII=" width="16" height="16">
          Clappr<strong>Board</strong>
        </a>
      </div>
      <div class="nav-links">
        <ul class="nav navbar-nav">
          <li data-match-route="/$"><a ui-sref="home" ui-sref-active="active" data-ui-sref-opts="{reload: true}">Home</a></li>
          <li data-match-route="/add"><a class="disabled" on-click="prevState(previousState, previousParams)">Back</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right" ng-if="!isLoggedIn">
          <li data-match-route="/login"><a ui-sref="login" ui-sref-active="active">Log In</a></li>
          <li data-match-route="/signup"><a ui-sref="signup" ui-sref-active="active">Sign Up</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right" ng-if="isLoggedIn">
          <li><a ui-sref="logout" ui-sref-active="active">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div id="loading-bar"></div>

    <div class="alert alert-danger" ng-if="error">{{error}}</div>
    <main ui-view></main>

    <script src="/vendor/jquery.min.js" charset="utf-8"></script>
    <!-- <script src="/vendor/masonry.pkgd.min.js" charset="utf-8"></script> -->
    <script src="/vendor/moment-with-locales.min.js" charset="utf-8"></script>
    <script src="/vendor/angular.js" charset="utf-8"></script>
    <script src="/vendor/angular-resource.min.js" charset="utf-8"></script>
    <script src="/vendor/angular-animate.min.js" charset="utf-8"></script>
    <script src="/vendor/angular-route.min.js" charset="utf-8"></script>
    <script src="/vendor/angular-ui-router.min.js" charset="utf-8"></script>
    <script src="/vendor/angular-strap.min.js" charset="utf-8"></script>
    <script src="/vendor/angular-strap.tpl.min.js" charset="utf-8"></script>
    <script src="/vendor/angular-messages.min.js" charset="utf-8"></script>
    <script src="/vendor/angular-tooltips.min.js" charset="utf-8"></script>
    <script src="/vendor/angular-cookies.min.js" charset="utf-8"></script>
    <script src="/vendor/ngStorage.min.js" charset="utf-8"></script>
    <script src="/js/loading-bar.min.js" charset="utf-8"></script>
    <script src="/js/lb-services.js" charset="utf-8"></script>
    <script src="/app/app.js" charset="utf-8"></script>
    <script src="/app/directives/confirmPassword.js" charset="utf-8"></script>
    <script src="/app/services/auth.js" charset="utf-8"></script>
    <script src="/app/services/show.js" charset="utf-8"></script>
    <script src="/app/services/watch-list.js" charset="utf-8"></script>
    <script src="/app/controllers/auth.js" charset="utf-8"></script>
    <script src="/app/controllers/main.js" charset="utf-8"></script>
    <script src="/app/controllers/detail.js" charset="utf-8"></script>
    <script src="/app/controllers/episode.js" charset="utf-8"></script>
  </body>
</html>