@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

$body-bg: #d5d8de;

$font-family-base: 'Open Sans', sans-serif;
$headings-color: #111;
$headings-font-family: Avenir, sans-serif;
$headings-font-weight: bold;

$brand-success: #22ae5f;
$brand-primary: #60a6ff;
$brand-danger: #bb0318;
$brand-warning: #fee091;

$text-muted: #90939a;
$link-color: #000;

$navbar-default-link-active-bg: #f7f7f7;
$navbar-default-link-color: #848484;
$navbar-default-bg: #fff;
$navbar-default-border: #e3e9ec;

$navbar-default-brand-color: #333;
$navbar-default-brand-bg: #fee091;
$navbar-default-brand-hover-color: #333;
$navbar-default-brand-hover-bg: #FFCB43;

$btn-success-bg: $brand-success;
$btn-success-border: darken($btn-success-bg, 3%);
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 3%);

$jumbotron-padding: 16px;
$jumbotron-bg: #f4f6f8;

$alert-border-radius: 0;
$input-border-radius: 0;

$alert-success-text: #fff;
$alert-success-bg: $brand-success;
$alert-success-border: darken($alert-success-bg, 3%);

$alert-danger-text: #fff;
$alert-danger-bg: $brand-danger;
$alert-danger-border: darken($alert-danger-bg, 3%);

$alert-info-bg: #e5f7fd;
$alert-info-border: #bcf8f3;
$alert-info-text: #25484e;

@import "bootstrap";
@import "bootstrap/theme";

@mixin image-border() {
	border: 2px solid #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar-default {
  border-radius: 0;
}

.navbar-brand {
	background-color: $navbar-default-brand-bg;
}

.grid-item {
	position: relative;
	float: left;
	width: 150px;
	height: 225px;
	margin: 5px 10px 5px 10px;
	@include image-border;
	overflow: hidden;
}

.grid-item-text {
	color: white;
	position: absolute;
	z-index: 1000;
	bottom: 5px;
	background-color: rgba(56,56,56,0.6);
	width: 100%;
	height: 1.4em;
	display: none;
}

.show-banner {
	@include image-border;
}

.show-poster {
	margin: 0 auto;
}

	@media screen and (max-width: 992px) {
.show-title a{
		font-style: underline;
	}
}

.show-overview {
	margin-top: 2em;
}

.btn-show {
	margin-top: 20px;
}

.show-info-header {
	width: 100%;
}