</style>
<div class="container-fluid">
	<div class="season-info">
		<div class="season-info-header">
			Rating: {{season.content.rating}} <br>
			Episodes: {{season.content.episode_count}} <br>
			Aired: {{season.content.aired_episodes}} <br>
			First Aired: {{season.content.first_aired}} <br>
		</div>
		<div class="episode-list-wrapper">
			<ul class="episode-list">
				<li ng-repeat="episode in season.content.episodes" ng-hide="!episode.title">
				<div class="episode-pic">
					
				</div>
				<div class="episode-info">
					<p><strong>{{episode.number}}. {{episode.title}}</strong></p>
					<p id="episode-overview">{{episode.overview}}</p>
				</div>
				</li>
			</ul>
		</div>
	</div>
</div>