<div class="container-fluid">
	<div class="panel">
		<div class="panel-heading">
			<h1 class="text-center">Subscribed Shows</h1>
			{{subscribed}}
		</div>
		<div class="panel-body">
			<div ng-repeat="(show, episodes) in subscriptions">
				<div class="sub-show-container" ng-show="episodes.length">
					<div class="banner-container">
						<a ui-sref="show-detail({id: show})">
							<img ng-src="{{images[show].banner.full}}" class="img-responsive center-block">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>