<div class="container-fluid">
	<div class="panel panel-default" ng-show="show">
		<div class="panel-heading hide-bg" ng-show="show.images.banner.full">
			<img class="show-banner center-block img-responsive" ng-src="{{show.images.banner.full}}">
		</div>
		<div class="panel-body">
			<div class="season-container">				
				<div class="season-tabs-container">
					<ul class="nav nav-tabs"> 
						<li ng-repeat="season in show.seasons">
							<a href ng-click="setTab(season.number)">{{season.title}}</a>
						</li>
					</ul>
				</div>
				<div class="season-info" ng-repeat="season in show.seasons" ng-show="tab === season.number">
					<div class="season-info-header">
						<pre>
							Debug:
							<strong>Subscribed?:</strong> {{subscribed}}
							<strong>Season:</strong> {{season.number}}
							<strong>Episodes:</strong> {{season.episode_count}}
							<strong>Aired:</strong> {{season.aired_episodes}}
						</pre>
					</div>
					<div class="season-episodes">
						<ul class="episode-list">
							<li class="row" ng-repeat="episode in season.episodes" ng-hide="!episode.title">
								<div class="episode-image col-sm-4">
									<img ng-src="{{episode.images.screenshot.full || show.images.fanart.medium}}" class="img-responsive">							
								</div>
								<div class="episode-info col-sm-8">
									<div class="episode-header">
										<p>Episode {{episode.number}}<br>{{episode.title}}</p>
										<a href class="btn btn-xs" ng-show="subscribed && !watched">
											<i class="fa fa-eye fa-2x"></i>
										</a>
										<a href class="btn btn-xs" ng-show="subscribed && watched">
											<i class="fa fa-eye-slash fa-2x"></i>
										</a>
									</div>
									<small class="episode-date">{{episode.first_aired}}</small>
									<small>{{episode.overview | limitTo: 200 }}</small>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>