<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading hide-bg">
			<img class="show-banner center-block img-responsive" ng-src="{{show.images.banner.full}}">
		</div>
		<div class="panel-body">
			<i class="fa fa-spinner fa-2x faa-spin animated" ng-show="working"></i>
			<div class="show-detail" ng-hide="working">				
				<img class="show-poster img-responsive img-rounded" ng-src="{{show.images.poster.thumb}}">
				<div class="show-info-header">
					<h2 class="show-title">
					<a ng-href="{{show.homepage}}">{{show.title}}</a>
					</h2>
					<button class="btn btn-success btn-show">
					<i class="fa fa-plus"></i>
					Subscribe
					</button>
				</div>
				<div class="show-airtime">
					<h5 class="airtime">
					{{show.airs.day}}, at {{show.airs.time}} on {{show.network}}
					</h5>
					<h6 class="timeleft">{{time}}</h6>
				</div>
				<p class="show-overview">
					{{show.overview}}
				</p>
			</div>
		</div>
	</div>
</div>